$body-color :linear-gradient(to right top, #5494c6, #8f8ccb, #c281b8, #e17c93, #e3866a);
$bg-black-900: rgb(211, 195, 132);
$bg-black-700: rgb(212, 123, 190);
$bg-black-50:white;
$text-black-900: #b578b3;
$text-black-700: rgb(185, 110, 44);
$skin-color: rgb(133, 29, 133);
$color:rgb(128, 103, 175);
$background: rgb(242, 223, 223);
