@import "../BASE/variable";

/* ABOUT SECTION */

#about {
  position: relative;
  background-color:$skin-color;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
  max-width: 600px;
  max-width: 100vh;

}

.about-pic {
  border-radius: 2rem;
  height: 380px;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
  width:80%;
}

.about-container {
  flex-wrap: wrap;
  gap: 5rem;
  height: 60%;
  margin-top: 5rem;
}