/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    background-color:rgb(242, 223, 223);
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background:rgb(128, 103, 175);
    margin: 2rem auto;
    padding: 0.5rem;
    
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;

    & a {
        color: black;
    }
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}