/* EXPERIENCE SECTION */

#experience {
  position: relative;
  margin: 4rem 10rem;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  margin-bottom:2rem;
  margin-left:2rem;
  margin-right:2rem;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}
.proj-containers {
  display: flex;
  gap: 30px;
  padding:40px 30px 40px;
}
