/* Navigation Bar */
.top-nav {
    width: 100%;
    background:$bg-black-100;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $bg-black-50;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    
    .logo {
        a {
            color: $text-black-900;
            font-weight: 700;
            font-size: 30px;
            letter-spacing: 5px;

            &::before {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-bottom: 5px solid $skin-color;
                border-left: 5px solid $skin-color;
                bottom: 10px;
                left: 10px;
                opacity: 90%;
            }

            &::after {
                content: '';
                position: absolute;
                width: 20px;
                height: 20px;
                border-top: 5px solid $skin-color;
                border-right: 5px solid $skin-color;
                opacity: 90%;
            }
           
        }
    }

    .nav {
        display: flex;
        gap: 20px;

        li {
            display: flex;
            list-style: none;
            overflow-y: hidden;
            justify-content: center;
            align-items: center;

            a {
                font-size: 16px;
                font-weight: 600;
                color: $text-black-900;
                padding: 5px 15px;
                border-bottom: 2px solid transparent;
                transition: all 0.3s ease;

                i {
                    margin-right: 7px;

                }

                &.active {
                    color: $skin-color;
                    border-bottom: 2px solid $skin-color;
                }

                &:hover {
                    color: $skin-color;
                }
            }
        }
    }
}


/* HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}